 
$molecule
-1,2
Li         0.00000        0.00000        0.01520
H          0.00000        0.00000        1.60587
$end

$comment
negative
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end

$rem
SYMMETRY_DECOMPOSITION	0
exchange 		general
LRC_DFT                 true
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

@@@
 
$molecule
0,1
Li         0.00000        0.00000        0.01520
H          0.00000        0.00000        1.60587
$end

$comment
neutral
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end


$rem
SYMMETRY_DECOMPOSITION	0
LRC_DFT                 true
exchange 		general
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

@@@
 
$molecule
1,2
Li         0.00000        0.00000        0.01520
H          0.00000        0.00000        1.60587
$end

$comment
positive
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end

$rem
SYMMETRY_DECOMPOSITION	0
LRC_DFT                 true
exchange 		general
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

