 
$molecule
-1,2
O          0.00187        0.00000        0.01031
C         -0.00443        0.00000        1.21394
H          0.95289        0.00000        1.77557
C         -1.24166        0.00000        2.06307
H         -2.13793        0.00000        1.44779
H         -1.23528       -0.87597        2.71678
H         -1.23528        0.87597        2.71678
$end

$comment
negative
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end

$rem
SYMMETRY_DECOMPOSITION	0
exchange 		general
LRC_DFT                 true
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

@@@
 
$molecule
0,1
O          0.00187        0.00000        0.01031
C         -0.00443        0.00000        1.21394
H          0.95289        0.00000        1.77557
C         -1.24166        0.00000        2.06307
H         -2.13793        0.00000        1.44779
H         -1.23528       -0.87597        2.71678
H         -1.23528        0.87597        2.71678
$end

$comment
neutral
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end


$rem
SYMMETRY_DECOMPOSITION	0
LRC_DFT                 true
exchange 		general
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

@@@
 
$molecule
1,2
O          0.00187        0.00000        0.01031
C         -0.00443        0.00000        1.21394
H          0.95289        0.00000        1.77557
C         -1.24166        0.00000        2.06307
H         -2.13793        0.00000        1.44779
H         -1.23528       -0.87597        2.71678
H         -1.23528        0.87597        2.71678
$end

$comment
positive
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end

$rem
SYMMETRY_DECOMPOSITION	0
LRC_DFT                 true
exchange 		general
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

