 
$molecule
-1,2
C          0.00000        0.00128        0.00001
N          0.00006       -0.00272        1.49794
O          1.08436        0.00110        2.05417
O         -1.08377       -0.03556        2.05413
H          0.01696       -1.04002       -0.31304
H         -0.91128        0.48158       -0.33598
H          0.89507        0.51114       -0.33597
$end

$comment
negative
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end

$rem
SYMMETRY_DECOMPOSITION	0
exchange 		general
LRC_DFT                 true
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

@@@
 
$molecule
0,1
C          0.00000        0.00128        0.00001
N          0.00006       -0.00272        1.49794
O          1.08436        0.00110        2.05417
O         -1.08377       -0.03556        2.05413
H          0.01696       -1.04002       -0.31304
H         -0.91128        0.48158       -0.33598
H          0.89507        0.51114       -0.33597
$end

$comment
neutral
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end


$rem
SYMMETRY_DECOMPOSITION	0
LRC_DFT                 true
exchange 		general
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

@@@
 
$molecule
1,2
C          0.00000        0.00128        0.00001
N          0.00006       -0.00272        1.49794
O          1.08436        0.00110        2.05417
O         -1.08377       -0.03556        2.05413
H          0.01696       -1.04002       -0.31304
H         -0.91128        0.48158       -0.33598
H          0.89507        0.51114       -0.33597
$end

$comment
positive
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end

$rem
SYMMETRY_DECOMPOSITION	0
LRC_DFT                 true
exchange 		general
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

