 
$molecule
-1,2
C          1.13430        0.00000        0.31167
C         -1.13430        0.00000        0.31167
C          0.00000       -0.74281       -0.31901
C          0.00000        0.74281       -0.31901
H          1.23394        0.00000        1.39569
H          2.07852        0.00000       -0.22063
H         -1.23394        0.00000        1.39569
H         -2.07852        0.00000       -0.22063
H          0.00000       -1.42637       -1.14952
H          0.00000        1.42637       -1.14952
$end

$comment
negative
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end

$rem
SYMMETRY_DECOMPOSITION	0
exchange 		general
LRC_DFT                 true
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

@@@
 
$molecule
0,1
C          1.13430        0.00000        0.31167
C         -1.13430        0.00000        0.31167
C          0.00000       -0.74281       -0.31901
C          0.00000        0.74281       -0.31901
H          1.23394        0.00000        1.39569
H          2.07852        0.00000       -0.22063
H         -1.23394        0.00000        1.39569
H         -2.07852        0.00000       -0.22063
H          0.00000       -1.42637       -1.14952
H          0.00000        1.42637       -1.14952
$end

$comment
neutral
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end


$rem
SYMMETRY_DECOMPOSITION	0
LRC_DFT                 true
exchange 		general
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

@@@
 
$molecule
1,2
C          1.13430        0.00000        0.31167
C         -1.13430        0.00000        0.31167
C          0.00000       -0.74281       -0.31901
C          0.00000        0.74281       -0.31901
H          1.23394        0.00000        1.39569
H          2.07852        0.00000       -0.22063
H         -1.23394        0.00000        1.39569
H         -2.07852        0.00000       -0.22063
H          0.00000       -1.42637       -1.14952
H          0.00000        1.42637       -1.14952
$end

$comment
positive
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end

$rem
SYMMETRY_DECOMPOSITION	0
LRC_DFT                 true
exchange 		general
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

