 
$molecule
-1,1
C          0.00000        0.00028       -0.01056
C          1.29382       -0.73157        0.01086
C         -1.29382       -0.73157        0.01086
H          0.00000        1.07115        0.14305
H          2.14129       -0.07304       -0.17866
H         -2.14129       -0.07304       -0.17866
H          1.47580       -1.21843        0.98109
H          1.31452       -1.53430       -0.73396
H         -1.47580       -1.21843        0.98109
H         -1.31452       -1.53430       -0.73396
$end

$comment
negative
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end

$rem
SYMMETRY_DECOMPOSITION	0
exchange 		general
LRC_DFT                 true
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

@@@
 
$molecule
0,2
C          0.00000        0.00028       -0.01056
C          1.29382       -0.73157        0.01086
C         -1.29382       -0.73157        0.01086
H          0.00000        1.07115        0.14305
H          2.14129       -0.07304       -0.17866
H         -2.14129       -0.07304       -0.17866
H          1.47580       -1.21843        0.98109
H          1.31452       -1.53430       -0.73396
H         -1.47580       -1.21843        0.98109
H         -1.31452       -1.53430       -0.73396
$end

$comment
neutral
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end


$rem
SYMMETRY_DECOMPOSITION	0
LRC_DFT                 true
exchange 		general
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

@@@
 
$molecule
1,1
C          0.00000        0.00028       -0.01056
C          1.29382       -0.73157        0.01086
C         -1.29382       -0.73157        0.01086
H          0.00000        1.07115        0.14305
H          2.14129       -0.07304       -0.17866
H         -2.14129       -0.07304       -0.17866
H          1.47580       -1.21843        0.98109
H          1.31452       -1.53430       -0.73396
H         -1.47580       -1.21843        0.98109
H         -1.31452       -1.53430       -0.73396
$end

$comment
positive
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end

$rem
SYMMETRY_DECOMPOSITION	0
LRC_DFT                 true
exchange 		general
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

