 
$molecule
-1,2
C         -0.90774       -0.06692       -0.15792
O         -0.88248        1.12905       -0.15439
O          0.14360       -0.85959        0.02570
H         -1.80830       -0.67572       -0.31429
C          1.38102       -0.18408        0.24017
H          2.12872       -0.96166        0.36871
H          1.62444        0.44255       -0.61718
H          1.32257        0.44105        1.13058
$end

$comment
negative
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end

$rem
SYMMETRY_DECOMPOSITION	0
exchange 		general
LRC_DFT                 true
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

@@@
 
$molecule
0,1
C         -0.90774       -0.06692       -0.15792
O         -0.88248        1.12905       -0.15439
O          0.14360       -0.85959        0.02570
H         -1.80830       -0.67572       -0.31429
C          1.38102       -0.18408        0.24017
H          2.12872       -0.96166        0.36871
H          1.62444        0.44255       -0.61718
H          1.32257        0.44105        1.13058
$end

$comment
neutral
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end


$rem
SYMMETRY_DECOMPOSITION	0
LRC_DFT                 true
exchange 		general
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

@@@
 
$molecule
1,2
C         -0.90774       -0.06692       -0.15792
O         -0.88248        1.12905       -0.15439
O          0.14360       -0.85959        0.02570
H         -1.80830       -0.67572       -0.31429
C          1.38102       -0.18408        0.24017
H          2.12872       -0.96166        0.36871
H          1.62444        0.44255       -0.61718
H          1.32257        0.44105        1.13058
$end

$comment
positive
$end

$xc_functional
C PBE   1.00
X wPBE  1.00
$end

$rem
SYMMETRY_DECOMPOSITION	0
LRC_DFT                 true
exchange 		general
BASIS                   g3large
omega			xOMEGA
mem_static              760
max_scf_cycles          200
scf_final_print         1
sym_ignore              true
$end

